@import url('assets/fonts/Raleway');
html {
  width: 100%;
}

body {
  margin: 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-family: "Raleway", sans-serif;
  color: #333133;
}

main {
  display: grid;
  grid-template-columns: 100px 1fr;
}

h1 {
  color: white;
  font-size: 3em;
  padding: 0;
  margin: 0;
  text-align: center;
}

h2 {
  color: white;
  font-size: 3em;
  padding: 0;
  margin: 0;
}

h3 {
  font-weight: 10;
  color: grey;
}

#preloader {
  position: absolute;
  transition:  all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.preloader-inner {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.preloader-loaded {
  width: 50%;
  position: absolute;
  height: 100vh;
  background-color: #f5eaff;
  z-index: 50;
}

.loaded{
  transform: translateY(-100%);

}

.preloader-pic {
  z-index: 200;
  background-blend-mode: overlay;
}

.black {
  color: #181818;
}

.header-inner {
  display: grid;
  grid-template: repeat(24, 1fr) / repeat(24, 1fr);
  max-height: 900px;
}

.header-inner a {
  color: white;
  text-decoration: none;
}

.header-inner h2 {
  margin-left: 20px;
}

header#header {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: -1;
  position: relative;
}

.header-one, .header-two, .header-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  color: white !important;
  opacity: 1;
  font-size: 1.2em;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

.header-one {
  grid-column: 4/8;
  grid-row: 8/10;
  background-color: rgba(255, 255, 255, 0.3);
  height: 360px;
  width: 360px;
}

.header-one:hover, .header-two:hover, .header-three:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.header-two {
  grid-column: 9/16;
  grid-row: 4/7;
  background-color: rgba(255, 255, 255, 0.3);
  height: 460px;
  width: 460px;
}

.header-three {
  grid-column: 8/9;
  grid-row: 14/18;
  background-color: rgba(255, 255, 255, 0.3);
  height: 300px;
  width: 300px;
}

.header-text {
  grid-column: 2/20;
  grid-row: 2;
  font-size: 1.5em !important;
}

.grid-container-projects {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  grid-template-rows: 1fr;
  grid-template-areas: " Project Project-Picture";
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Project-Picture Project";
}

section {
  min-height: 1000px;
}

.bg--1 {
  background-color: #f7f7f7;
}

.padding-bot {
  padding-bottom: 50px;
}

.bk {
  color: #181818;
}

section.insta {
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../../assets/img/bg-insta.png");
  background-blend-mode: normal;
  background-attachment: fixed;
}

.Sidebar {
  grid-column: 1;
  position: fixed;
}

.small {
  transform: translate(-100%, 0);
}

.main2 {
  grid-column: 2;
}

.sidebar-holder {
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.logo {
  width: 95px;
  height: 95px;
}

.sidebar-inner:first-child {
  height: 220px;
}

.sidebar-inner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidebar-inner a {
  text-decoration: none;
  color: #333133;
}

.Project {
  grid-area: Project;
  background-color: #181818;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.75fr 0.35fr 0.25fr;
  grid-template-areas: "project-title" "project-about" "project-sub-detail" "project-button";
  padding-left: 5em;
  padding-right: 5em;
}

.Project p {
  font-size: 1.3em;
}

.Project h3 {
  font-size: 2em;
  color: #EC03C1;
  font-weight: 600;
}

.project-title {
  grid-area: project-title;
  background-color: #181818;
}

.project-title h2 {
  margin-top: 40px;
  font-size: 3.5rem;
  line-height: 1em;
}

.project-title-2 {
  grid-area: project-title;
  margin-top: 108px;
  height: 3px;
  width: 250px;
  background: rgb(120, 64, 255);
  background: linear-gradient(90deg, rgba(120, 64, 255, 1) 0%, rgba(222, 0, 255, 1) 100%);
}

.project-about {
  grid-area: project-about;
}

.project-about p {
  font-weight: 100;
}

.project-sub-detail {
  grid-area: project-sub-detail;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-sub-detail p {
  font-size: 1em;
  font-weight: 100;
  margin-top: 5px;
}

.detail-1 {
  grid-column: 1;
  display: inline;
  font-size: 1.25em;
  font-weight: 500;
}

.detail-2 {
  grid-column: 2;
  display: inline;
  font-size: 1.25em;
  font-weight: 500;
}

.project-button {
  grid-area: project-button;
}

.Project-Picture {
  grid-area: Project-Picture;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background: #101010;
  /* background: linear-gradient(90deg, rgba(120,64,255,1) 0%, rgba(222,0,255,1) 100%); */
}

.Project-Picture h2 {
  padding-top: 40px;
}

.project-scroller {
  grid-column: 1/13;
  grid-row: 1/3;
}

.project-picture-1 img {
  max-height: 500px;
  max-width: 500px;
}

.project-picture-2 img {
  max-height: 330px;
  max-width: 330px;
}

.project-picture-3 img {
  max-height: 250px;
  max-width: 250px;
}

.project-picture-1 {
  /* 500x500 */
  background-color: blue;
  grid-column: 5/11;
  grid-row: 4/10;
}

.project-picture-2 {
  /* 330 x 330 */
  background-color: red;
  grid-column: 2/6;
  grid-row: 3/7;
}

.project-picture-3 {
  /* 250 x 250 */
  background-color: yellow;
  grid-column: 4/7;
  grid-row: 9/12;
}

footer {
  position: relative;
  padding-top: 50px;
  min-height: 500px;
  background-color: black;
  display: grid;
  grid-template-columns: 120px 2fr 1fr 1fr;
  grid-template-rows: 1fr 40px;
  grid-template-areas: " . col1 col2 col3" "tagline tagline tagline tagline";
}

footer h2 {
  color: white;
}

footer p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: white;
  margin-right: 200px;
}

footer i {
  font-size: 2em;
  margin-right: 15px;
  color: white;
}

.footer-col-1 {
  grid-area: col1;
}

.footer-img {
  max-height: 120px;
  margin-right: 20px;
  margin-top: 60px;
}

.footer-col-2 {
  grid-area: col2;
}

.footer-col-3 {
  grid-area: col3;
  margin-top: 180px;
}

.tagline {
  grid-area: tagline;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.rotate {
  transform: rotate(90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.reverse {
  transform: rotateY( 180deg);
}

/* At the top level of your code */

@media screen and (max-width: 1096px) {
  body {
    position: relative;
  }
  .header-inner {
    display: block;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
  }
  .header-one, .header-two, .header-three {
    display: none;
  }
  .header-text {
    display: block;
    position: absolute;
    height: 25vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    border-radius: 0;
    text-align: center;
    top: 45%;
  }
  .main2 {
    width: 100% !important;
  }
  main {
    display: block !important;
  }
  .Sidebar {
    display: none;
  }
  section {
    padding: 1em;
  }
  section.scrumboard {
    display: none;
  }
  footer {
    display: block !important;
    width: 100% !important;
  }
  .footer-col-1, .footer-col-2 {
    display: none;
  }
  .footer-col-3 {
    margin-top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  footer p, footer h3 {
    text-align: center !important;
    margin: 0;
    margin-top: 1em;
  }
}