

@import url('https://fonts.googleapis.com/css?family=Raleway:200');


body{
  margin: 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-family: sans-serif;
}

main{
  display: grid;
  grid-template-columns: 120px 1fr;
}

h3{
  font-weight: 10;
  color: grey;
}

.grid-container-projects {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  grid-template-rows: 1fr;
  grid-template-areas: " Project Project-Picture";
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Project-Picture Project";
}


section{
  min-height: 1000px;
}

section.insta{
background-color: rgba(0, 0, 0, 1);
background-image: url("../../assets/img/bg-insta.png");
background-blend-mode:normal;
background-attachment: fixed;
}

.Sidebar {
grid-column: 1;
 }


.main2{
  grid-column: 2;
}
 .sidebar-holder{
   width: 115px;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   position: fixed;
 }

.logo{
  width: 95px;
  height: 95px;
}
 .sidebar-inner:first-child{
   height: 220px;
 }

 .sidebar-inner{
   padding-top: 30px;
   padding-bottom: 30px;
 }

.Project {
  grid-area: Project;
  background-color: #181818;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.75fr 0.35fr 0.25fr;
  grid-template-areas: "project-title" "project-about" "project-sub-detail" "project-button";
  padding-left: 5em;
  padding-right: 5em;
 }

.Project p {
  font-size: 1.3em;
}
.Project h3{
    font-size: 2em;
    color: #EC03C1;
    font-weight: 600;
}
.project-title{
  grid-area: project-title;
  background-color: #181818;
}

.project-title h1{
    font-size: 3.5rem;
    line-height: 1em;
}

.project-title-2{
grid-area: project-title;
margin-top: 108px;
height: 3px;
width: 250px;
background: rgb(120,64,255);
background: linear-gradient(90deg, rgba(120,64,255,1) 0%, rgba(222,0,255,1) 100%);
}

.project-about{
  grid-area: project-about;
}
.project-about p{
  font-weight: 100;
}
.project-sub-detail {
  grid-area: project-sub-detail;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-sub-detail p{
  font-size: 1em;
  font-weight: 100;
  margin-top: 5px;
}

.detail-1 {
  grid-column: 1;
  display: inline;
  font-size: 1.25em;
  font-weight: 500;
}

.detail-2 {
  grid-column: 2;
  display: inline;
  font-size: 1.25em;
  font-weight: 500;
}

.project-button{
  grid-area: project-button;
}

.Project-Picture {
  grid-area: Project-Picture;
  background: rgb(120,64,255);
  background: linear-gradient(90deg, rgba(120,64,255,1) 0%, rgba(222,0,255,1) 100%);
}

.rotate {
  transform: rotate(90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.reverse {
  transform: rotateY( 180deg );

}
