

@import url('https://fonts.googleapis.com/css?family=Raleway:200');


body{
  margin: 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-family: sans-serif;
}

main{
  display: grid;
  grid-template-columns: 120px 1fr;
}

h1 {
  color: white;
  font-size: 3em;
  padding: 0;
  margin: 0;
}
h3{
  font-weight: 10;
  color: grey;
}


.header-inner{
  display: grid;
  grid-template: repeat(24, 1fr) / repeat(24, 1fr);
  max-height: 980px;
}



header#header {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: -1;
}
.header-one,
.header-two,
.header-three{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  color: white !important;
  opacity: 1;
  font-size: 1.2em;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

.header-one{

  grid-column: 4/8;
  grid-row: 8/10;
  background-color: rgba(255,255,255,0.3);

  height: 360px;
  width: 360px;
}

.header-two{
  grid-column: 9/16;
  grid-row: 4/7;

  background-color: rgba(255,255,255,0.3);
  height: 460px;
  width: 460px;

}

.header-three{
  grid-column: 8/9;
  grid-row: 14/18;
  background-color: rgba(255,255,255,0.3);
  height: 300px;
  width: 300px;
}

.header-text{
  grid-column: 2/20;
  grid-row: 2;

  font-size: 3em;

}

.grid-container-projects {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  grid-template-rows: 1fr;
  grid-template-areas: " Project Project-Picture";
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Project-Picture Project";
}


section{
  min-height: 1000px;
}

.bg--1{
  background-color: #f7f7f7;
}

.padding-bot{
  padding-bottom: 50px;
}

.bk {
  color: #181818;
}

section.insta{
background-color: rgba(0, 0, 0, 1);
background-image: url("../../assets/img/bg-insta.png");
background-blend-mode:normal;
background-attachment: fixed;
}

.Sidebar {
grid-column: 1;
 }


.main2{
  grid-column: 2;

}
 .sidebar-holder{
   width: 115px;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   position: fixed;
 }

.logo{
  width: 95px;
  height: 95px;
}
 .sidebar-inner:first-child{
   height: 220px;
 }

 .sidebar-inner{
   padding-top: 30px;
   padding-bottom: 30px;
 }

/* SKILLS */
.scrum-head{
  padding-top: 50px;
  min-height: 250px;
  margin-bottom: 20px;
}

.scrum-checks{
width: 60%;
padding-top: 50px;
margin: auto;
display: flex;
justify-content: space-between;
min-height: 120px;
}



.scrum-check-detail input {
display: none;
}

.scrum-check-detail p {

  display: inline;
  margin-right: 10px;
  vertical-align:baseline !important;
  font-size: 1.35em;
}

.checkbox-custom{
  min-height: 20px;
  min-width: 20px;
}

.scrum-check-detail .checkbox-custom::after{
  position: absolute;
  content: " ";
  border: 4px solid #0084f5;
  background-color: transparent;
  min-height: 20px;
  min-width: 20px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.scrum-check-detail input:checked ~ .checkbox-custom::after{
  background-color: blue;
  min-height: 20px;
  min-width: 20px;

}

.skill-scrum{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;

}
.skill-scrum h1 {
    font-size: 2.5em;
    color: white;
    margin-top: 20px;
}
.skill-scrum div {
  border-radius: 20px;

}

.skill-scrum .music {
  background-color: orange;
}

.skill-scrum .front-end {
  background-color: purple;
  color: white;
}
.skill-scrum .back-end {
  background-color: #ef4200;
}

.skill-scrum .creative{
  background-color: #0084f5;
}

.skill-scrum-todo{
  grid-column: 1;
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
}

.skill-scrum-todo div:first-child,
.skill-scrum-inprogress div:first-child,
.skill-scrum-deployed div:first-child{
  height: 100px;
  margin: 0;
  margin-bottom: 5px;
  grid-row-gap: 0px;
  padding: 0px;
  background-color: black;
  border-top-left-radius:18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.skill-scrum-todo div:last-child,
.skill-scrum-inprogress div:last-child,
.skill-scrum-deployed div:last-child{
margin-bottom: 15px;
}

.skill-scrum-todo div,
.skill-scrum-inprogress div,
.skill-scrum-deployed div{
  padding-top: 10px;
  padding-left: 30px;
  min-height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* default */
  background-color: #dbd4e5;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.2em;
}

.skill-scrum-deployed div{
  min-height: 50px;
}

.skill-scrum-inprogress{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
}

.skill-scrum-deployed{
  grid-column: 3;
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
}


.Project {
  grid-area: Project;
  background-color: #181818;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.75fr 0.35fr 0.25fr;
  grid-template-areas: "project-title" "project-about" "project-sub-detail" "project-button";
  padding-left: 5em;
  padding-right: 5em;
 }

.Project p {
  font-size: 1.3em;
}
.Project h3{
    font-size: 2em;
    color: #EC03C1;
    font-weight: 600;
}
.project-title{
  grid-area: project-title;
  background-color: #181818;
}

.project-title h1{
    margin-top: 40px;
    font-size: 3.5rem;
    line-height: 1em;
}

.project-title-2{
grid-area: project-title;
margin-top: 108px;
height: 3px;
width: 250px;
background: rgb(120,64,255);
background: linear-gradient(90deg, rgba(120,64,255,1) 0%, rgba(222,0,255,1) 100%);
}

.project-about{
  grid-area: project-about;
}
.project-about p{
  font-weight: 100;
}
.project-sub-detail {
  grid-area: project-sub-detail;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-sub-detail p{
  font-size: 1em;
  font-weight: 100;
  margin-top: 5px;
}

.detail-1 {
  grid-column: 1;
  display: inline;
  font-size: 1.25em;
  font-weight: 500;
}

.detail-2 {
  grid-column: 2;
  display: inline;
  font-size: 1.25em;
  font-weight: 500;
}

.project-button{
  grid-area: project-button;
}

.Project-Picture {
  grid-area: Project-Picture;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12,1fr);
  background: rgb(120,64,255);
  background: linear-gradient(90deg, rgba(120,64,255,1) 0%, rgba(222,0,255,1) 100%);
}

.project-scroller{
  grid-column: 1/13;
  grid-row: 1/3;
}

.project-picture-1{
  background-color: blue;
  grid-column: 5/11;
  grid-row: 4/10;
}

.project-picture-2{
  background-color: red;
  grid-column: 2/6;
  grid-row: 3/7;
}

.project-picture-3{
  background-color: yellow;
  grid-column: 4/7;
  grid-row: 9/12;
}


.rotate {
  transform: rotate(90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.reverse {
  transform: rotateY( 180deg );

}
