
/* SPACERS */

.white-space{
  min-height: 150px;
  background-color: white;
}
/* NAV SECTION */
nav{

}
nav ul {
margin-left:  auto;
}
nav li {
  display: inline-block;
  width: 100px;
}

body{
  margin: 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-family: sans-serif;
}

header{
  padding: none;
  margin: none;
}

header h1{
  font-size: 5em;
  color: #fff;
}

.banner{
  min-height: 1080px;
  width: 100%;
  background-color: #0e192d;
}

section {
  min-height: 980px;
}

div.section-title{
  width: 33%;
  margin: auto;
}
div.section-title h1{
font-size: 4em;
}

/* PORTFOLIOP SECTION */
section.port-section {
  /* min-height: 750px; */
  position: absolute;
  background-image: url("../img/test.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size:cover;
  padding: 0px;
}

.project-detail{
  width: 35vw; /* Always half of the viewport width */
  min-height: 750px;
  background-color: rgba(24,24,24,0.95);

  padding: none;
  position:static;
  display:inline-flex;
  z-index: 1;
}

.project-detail h1 {
  width: 100%;
  color: white;
  font-size: 3em;
  font-family: verdana;
}

.project-detail-inner{
  margin-left: 50px;
}

.project-picture{
    width: 65vw; /* Always half of the viewport width */
    min-height: 750px;
    float:right;
    overflow: auto;
    transition: background-position 0.5s ease-out;
}

.project-picture-2{
    width: 65vw; /* Always half of the viewport width */
    min-height: 750px;
    float:left;
    overflow: auto;
    transition: background-position 0.5s ease-out;
}

.project-picture h1 {
  width: 100%;
  color: white;
  font-size: 3em;
  font-family: verdana;
}

.project-gradient{
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
    background: linear-gradient(60deg, rgba(108,64,255,0.2) 0%, rgba(222,0,255,0.8) 100%);
    overflow: auto;
    min-height: 750px;

}

.project-gradient:hover{
  background: linear-gradient(30deg, rgba(18,14,15,0.8) 0%, rgba(18,24,255,0.8) 100%);
  background-position: 100% 0;
    moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
